* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh sans'
}


.navbar {
    background: #fff;
    background-image: linear-gradient(to top, #32CD32 50%, #affc41 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem; 
    position: sticky;
    top: 0;
    z-index: 999;

}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #36454F;
    background-image: linear-gradient(to top, #36454F 0%, #36454F 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right:  0.1rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    padding: 20px;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #36454F;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #006400;
    color: #fff;
}


.button:hover {
    background: #00008B;
    transition: all 0.3s ease;
    transform: scale(1.2)
}

.navbar__links:hover {
    color: #00008B;
    transition: all 0.3s ease;
    transform: scale(1.2)
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #affc41;
    }

    .navbar__menu.active {
        background: #affc41;
        background-image: linear-gradient(to top, #fff -50%, #affc41 100%);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
       padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #affc41;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 60px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        display: none;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(0px) rotate(45deg)
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg)
    }
}

  

  /* Hero Sction CSS */
  .main {
    background-color: #36454F;
    width: 100%;
    align-items:center;
  }

  .main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: none;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    color: #32CD32;
  }

  .p1 {
    font-family: "Optima", sans-serif;
    color: #affc41;
  }

  .main__img_container{
    padding: 10rem;
    width: auto;
  }

.wrapper{
    
    height: 6000px;
    overflow: hidden;
    position:fixed;
    top: 80px;
    left: 0px;
    width: 10000px;
    display: flex;
    align-items: top;
    border:#32CD32;
    border-style: solid;
    border-width:thick;
    width: 10000px;
    z-index: 0;
}

.wrapper:before, .wrapper:after {
    content: "";
    position: flex;
    height: 130px;
    width: 1300px;
    z-index: 0;
}

.wrapper:after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.wrapper:before {
    left: 0;
    top: 0;

}

.wrapper {
    display: flex;
    width: calc(60px * 100);
    animation: scroll 20s 3s linear infinite;
}

.wrapper .logo{
    width: 10000px;
}

.wrapper .logo img {
    height: 900px;
    width: 1000px;
}

.wrapper .logo img :hover {
    cursor: pointer;


}
.logo {
    cursor: pointer;
}
    

@keyframes scroll {
    to {
        transform: translateX(-50%);
    }
}

.body {
    background-color: #36454F;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

  }

.title-bg {
    align-items: center;
    font-size: 5rem;
    display: flex;
    color: #32CD32;
    position:absolute;
    left: 250px;
    top: 400px;
    background-clip: text;
    background-image:  linear-gradient(to top, #32CD32 -50%, #affc41 100%);
    -webkit-text-fill-color: transparent;
    z-index: 1;
  }

.title-box {
    background-color: #00008B;
}

  .dancing-script-title {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .sigma {
    font-size: 1rem ;
    background-color: #36454F;
    align-items: center;
    position:absolute;
    text-align: center;
    padding-top: 200px;
  }

  .title-bg1 {
    font-size: 5rem;
    color: #32CD32;
    position:relative;
    align-items: center;
    text-align: center;
    top: 20%;
    background-clip: text;
    background-image:  linear-gradient(to top, #32CD32 -50%, #affc41 100%);
    -webkit-text-fill-color: transparent;
    z-index: 1;
  }
  .title-box1 {
    background-color: #36454F;
}



.Text {
    text-align: center;
    align-items: center;
    position:relative;
    color:#32CD32;
    top:10vh;
    font-size: 3vh;
    text-decoration: underline;
    padding-left: 10%;
    padding-right: 10%;
    
}

.Textbox {
    background-color: #36454F;

}

.imgbox {
    background-color: #32CD32;
    width: 50%;
    height: 35%;
    text-align: center;
    align-items: center;
    position:relative;
    border-radius: 5%;
    left:45%;
    right:70%;
}

.imgboxsmall {
    width: 93%;
    height: 93%;
    left: 3.5%;
    top: 3.5%;
    text-align: center;
    align-items: center;
    position:relative;
    border-radius: 5%;
    z-index: 11;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.imgboxsmall img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
    cursor:pointer;
}


.imgboxsmall1 {
    width: 93%;
    height: 93%;
    left: 3.5%;
    top: 3.5%;
    text-align: center;
    align-items: center;
    position:relative;
    border-radius: 5%;
    z-index: 11;
}

.img1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.imgboxsmall1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
    cursor: pointer;
}
.imgbox1 {
    background-color: #32CD32;
    width: 50%;
    height: 35%;
    text-align: center;
    align-items: center;
    position:relative;
    border-radius: 5%;
    left:5%;
    right:25%;

}